#access-fast {
  @apply absolute;

  a,
  .btn-accessibilite {
    @apply inline-block absolute bg-white;

    color: #555;
    padding: 0.5em;
    left: -99999rem;
    z-index: 100;

    &:focus{
      left: 0;
    }
  }
}
